body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background-color: #d6d6d6;
  background-image: url(background.jpg);
  background-repeat: repeat-x;
  font-size: 12px;
}
#main-card {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  width: 700px;
}

#two-images {
  padding: 0px 20px 20px 35px;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images {
  height: 400px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #ff3300;
}

#card {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  align-items: flex-start;
  width: 1000px;
}
ul {
  align-items: left;
  list-style: none;
}
#Side-card {
  align-items: center;
  font-weight: bold;
  background-color: white;
  width: 400px;
  margin: 0px 40px 40px 40px;

  float: right;
}
footer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.line {
  height: 1px;
  background-color: black;
}
